.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgb(130, 125, 125);
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.popup-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-buttons button:first-child {
    background: #413e3e;
}

.popup-buttons button:last-child {
    background: #ff6347;
    color: white;
}
